/* demo pag1 ---------------------------------------------------------------- */
.container1 {
  width: 90%;
  padding: 15px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
 
.slider1 {
  width: 60%;
  margin: 10px auto;
}
 
.rows-per-page1 {
  display: inline-block !important;
  background: url("images/page.png") no-repeat left center !important;
  padding: 0px 0px 0px 20px !important;
  margin: 3px 10px 3px 10px !important;
  width: 30px;
  vertical-align: middle;
  height: 18px !important;
}
 
.goto-page1 {
  display: inline-block !important;
  background: url("images/bullet_go.png") no-repeat left center !important;
  padding: 0px 0px 0px 20px !important;
  margin: 3px 10px 3px 10px !important;
  width: 30px;
  vertical-align: middle;
  height: 18px !important;
}



/* demo pag2 ---------------------------------------------------------------- */
.wrap2 {
  overflow: auto;
  width: 850px;
  margin-top: 20px;
}
 
.container2 {
  width: 780px;
  padding: 10px;
  line-height: 1;
  margin: 2px;

}
 
.navpane2 {
  width: 790px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
 
.list2 {
  width: 800px;
  height: 200px;
  float: left;
}
 
.slider2_inside {
  display: inline-block;
  width: 20%;
  margin: auto 10px;
  vertical-align: middle;
}
 
.slider2_outside {
  width: 85%;
  margin: 10px auto;
}
 
.slider2_user_defined {
  height: 170px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}