
table {
	table-layout: fixed;
	font-size: 12px;
}

td {
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

.rows-per-page{
	width: 50px;
}

.grid_td_row_number {
	text-align: left;
	width: 2%;
}
.grid_th_row_number {
	text-align: left;
	width: 2%;
}

body div {
	font-size: 12px;
}

body {
	font-size: 12px;
}


#entityDialog {
	table-layout: auto;
}

#entityDialog td {
	white-space: normal;
	overflow: visible;
}

#entityDialog tr td:first-child {
	width: 80px;
}


/* paginationDIV --------------------------------------------------------------- */
.grid1_container {
	width: 100%;
	background: none !important;
	margin-left: auto;
	margin-right: auto;
}

.grid1_data {
	padding: 0;
	border: none !important;
	overflow-y: hidden;
	overflow-x: hidden;
}

.grid1_filters {
	width: 100%;
}


.th_billClass {
	width: 8%;
}

.td_billClass {
	width: 8%;
}

.th_payWayClass {
	width: 8%;
}

.td_payWayClass {
	width: 8%;
}

.th_roomExpenseTypeDescriptionClass {
	width: 8%;
}

.td_roomExpenseTypeDescriptionClass {
	width: 8%;
}

.th_genTimeClass {
	width: 12%;
}

.td_genTimeClass {
	width: 12%;
}

.th_genDateClass {
	width: 12%;
}

.td_genDateClass {
	width: 12%;
}

.th_roomNameClass {
	width: 8%;
}

.td_roomNameClass {
	width: 8%;
}

.th_roomTypeNameClass {
	width: 8%;
}

.td_roomTypeNameClass {
	width: 8%;
}

.th_nameClass {
	width: 8%;
}

.td_nameClass {
	width: 8%;
}

.th_phoneNumberClass {
	width: 10%;
}

.td_phoneNumberClass {
	width: 10%;
}

/* .th_descriptionClass {
	width: 15%;
}
.td_descriptionClass {
	width: 15%;
}
 */

/* demo_rules1 widgets ------------------------------------------------------ */
.ui-datepicker {
	font-size: 12px;
}

.ui-autocomplete {
	font-size: 14px;
}

/* jQuery-UI-bootstrap theme CSS fix ---------------------------------------- */
.juib_fix {
	display: inline-block !important;
}

.selectedRowClass {
	color: #000000;
	background: #ff9b08;
}

